body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

#calculator {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.number {
    background-color: #4caf50; /* Green */
}

.operator {
    background-color: #ff9800; /* Orange */
}

.equals {
    background-color: #2196f3; /* Blue */
}

.double {
    grid-column: span 2;
}

button:hover {
    filter: brightness(85%);
}
